

body {
	padding: 1vw;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	line-height: 1,25;
	font-size: 1vw;
  width: 100%;
	}

h1, h2, h3, nav, footer {
    text-align: center;
}

h1 {
    padding-bottom: 0%;
    font-size: 3vw;
}

.container {
    margin-bottom: 10px;
    margin-top: 15px;
}

nav {
    margin-bottom: 1vw;
    margin-top: 0vw;
    padding: 1vw;
    padding-top: 0%;
    font-family: monospace;
}

h2 {
    padding: 1vw;
}

h3 {
    font-weight: bold;
    padding: 1vw;
    
}

h4 {
    text-align: left;
    font-size: medium;
    text-decoration: underline;
}

h5 {
    font-size: medium;
}

#details {
    padding: 2vw;
    margin: 1vw;
    text-align: center;    
}

footer {
    border-top: 1px solid black;
    padding-top: 1vw;
    margin-top: 4vw;
}

.copyright {
    width: 50%;
    margin: auto;
}

.copyright_logos, .copyright_text {
    display: inline;
}

.copyright_logo {
		width: 1vw;
		margin:.15vw;
	}

.head {margin-right: 10vw; 
        text-align: right;
    line-height: 0%;
    font-size: 1,25vw;
}    

.F {
    float: left;
    margin-bottom: 15px;
    font-family: 'Courier New', Courier, monospace;
 
}

.N {
    float: right;
    margin-bottom: 15px;
    font-family: 'Courier New', Courier, monospace;
 
}

.bottomtext {
    padding-top: 70%;
}

.container_photo {
    float: center; 
}
